.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.terminalContainer {
  /* flex-grow: 1; */
  /* height: 100vh; */
  /* width: 95% !important;
  height: 95vh !important;
  overflow-y: hidden !important; */
}

.term {
  /* padding: 0; */
}

.terminalContainer {
  padding: 0 !important;
  white-space: normal !important;
}

div {
  white-space: pre-wrap !important;
}